{% extends 'site_template.html' %}

{% block body %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Schedule Application
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Schedule Application
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">

                    <form method="POST" action="/scheduling_request/" enctype="multipart/form-data">

                        <div class="col-lg-6">

                                <div class="form-group">
                                    <label>Select Application</label>
                                    <select class="form-control" id="">
                                        <option>Application 1</option>
                                        <option>Application 2</option>
                                        <option>Application 3</option>
                                        <option>Application 4</option>
                                        <option>Application 5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Select Algorithms/Service</label>
                                    <select class="form-control">
                                        <option>Algorithm 1</option>
                                        <option>Algorithm 2</option>
                                        <option>Algorithm 3</option>
                                        <option>Algorithm 4</option>
                                        <option>Algorithm 5</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label>Schedule This Service/Algorithm(Yes) or Run Immediately(No)</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
                                        </label>
                                    </div>
                                </div>
                                
                                

                                <div class="form-group">
                                    <label>If Selected Yes above(Enter Start Time in comma separated format)("hh:mm:ss,hh:mm:ss")</label>
                                    <input class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Enter Duration("hh:mm:ss")</label>
                                    <input class="form-control">
                                </div>


                                <div class="form-group">
                                    <label>Select Days to run this service</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Monday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Tuesday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Wednesday
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Thursday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Friday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Saturday
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">Sunday
                                        </label>
                                    </div>
                                </div>


                                <!-- <div class="form-group">
                                    <label>Text Input with Placeholder</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>

                                <div class="form-group">
                                    <label>Static Control</label>
                                    <p class="form-control-static">email@example.com</p>
                                </div>

                                <div class="form-group">
                                    <label>Upload Application in Zip Format</label>
                                    <input type="file" name="file">
                                </div> -->

                                <!-- <div class="form-group">
                                    <label>Text area</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div> -->

                                

                                <!-- <div class="form-group">
                                    <label>Inline Checkboxes</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox">1
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox">2
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox">3
                                    </label>
                                </div> -->

                                <!-- <div class="form-group">
                                    <label>Inline Radio Buttons</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
                                    </label>
                                </div> -->


                                <!-- <div class="form-group">
                                    <label>Multiple Selects</label>
                                    <select multiple class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div> -->

                        </div>
                        <div class="col-lg-6">
                            <h3>Input Action to the user</h3>
                            <div class="form-group">
                                <label>Input Message to be displayed to the user</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>


                            <div class="form-group">
                                <label>Enter Email Address</label>
                                <input type="email" name="email" id="email" tabindex="1" class="form-control"
                                       placeholder="Email Address" value="">
                            </div>

                            <div class="form-group">
                                <label>Enter Phone No.</label>
                                <input type="mobile" name="mobile" id="mobile" tabindex="1" class="form-control"
                                       placeholder="Phone No." value="">
                            </div>

<!--                             
                            <div class="form-group">
                                <label></label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div> -->
                            
<!-- 
                            <div class="form-group">
                                <label>Enter </label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div> -->
                            
                            <div class="form-group">
                                <label>Enter Latitude & Longitude in "23.45:45.45,23.45:45.45" format</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            
                            <button type="submit" class="btn btn-default">Schedule</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                        
                    </form>

                    <form method="POST" action="/download" enctype="multipart/form-data">
                        <div class="col-lg-6">
                            <label>Download template.json for scheduling multiple request</label>
                            <button type="submit" class="btn btn-default">Download</button>
                        </div>
                    </form>

                    <form method="POST" action="/scheduling_request_upload/" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Upload Request file to schedule an application</label>
                            <input type="file" name="file">
                        </div>

                        <button type="submit" class="btn btn-default">Upload</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    </form>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
{% endblock %}